<?php
$AUTOCONFIG = array(
  "dbtype"        => "postgresql",
  "dbname"        => "owncloud",
  "dbuser"        => "owncloud",
  "dbpass"        => "INSERT_DB_PASSWORD",
  "dbhost"        => "localhost",
  "dbtableprefix" => "",
  "adminlogin"    => "admin",
  "adminpass"     => "INSERT_ADMIN_PASSWORD",
  "directory"     => "/var/www/html/owncloud/data",
  "check_for_working_webdav" => false,
);
